<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CadastroAluguelServlet</servlet-name>
        <servlet-class>br.senac.tads.pi3.ghosts.locarsys.controller.CadastroAluguelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroClienteServlet</servlet-name>
        <servlet-class>br.senac.tads.pi3.ghosts.locarsys.controller.CadastroClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroProdutoServlet</servlet-name>
        <servlet-class>br.senac.tads.pi3.ghosts.locarsys.controller.CadastroProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroUsuarioServlet</servlet-name>
        <servlet-class>br.senac.tads.pi3.ghosts.locarsys.controller.CadastroUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaAlugueisServlet</servlet-name>
        <servlet-class>br.senac.tads.pi3.ghosts.locarsys.controller.ConsultaAlugueisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaClientesServlet</servlet-name>
        <servlet-class>br.senac.tads.pi3.ghosts.locarsys.controller.ConsultaClientesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaProdutosServlet</servlet-name>
        <servlet-class>br.senac.tads.pi3.ghosts.locarsys.controller.ConsultaProdutosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaUsuariosServlet</servlet-name>
        <servlet-class>br.senac.tads.pi3.ghosts.locarsys.controller.ConsultaUsuariosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarModelosPorGrupoServlet</servlet-name>
        <servlet-class>br.senac.tads.pi3.ghosts.locarsys.controller.ConsultarModelosPorGrupoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarClienteServlet</servlet-name>
        <servlet-class>br.senac.tads.pi3.ghosts.locarsys.controller.EditarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarProdutoServlet</servlet-name>
        <servlet-class>br.senac.tads.pi3.ghosts.locarsys.controller.EditarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarUsuarioServlet</servlet-name>
        <servlet-class>br.senac.tads.pi3.ghosts.locarsys.controller.EditarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExibirRelatoriosServlet</servlet-name>
        <servlet-class>br.senac.tads.pi3.ghosts.locarsys.controller.ExibirRelatoriosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>br.senac.tads.pi3.ghosts.locarsys.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>br.senac.tads.pi3.ghosts.locarsys.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Principal</servlet-name>
        <servlet-class>br.senac.tads.pi3.ghosts.locarsys.controller.Principal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DevolucaoAluguelServlet</servlet-name>
        <servlet-class>br.senac.tads.pi3.ghosts.locarsys.controller.DevolucaoAluguelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastroAluguelServlet</servlet-name>
        <url-pattern>/CadastroAluguelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroClienteServlet</servlet-name>
        <url-pattern>/CadastroClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroProdutoServlet</servlet-name>
        <url-pattern>/CadastroProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroUsuarioServlet</servlet-name>
        <url-pattern>/CadastroUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaAlugueisServlet</servlet-name>
        <url-pattern>/ConsultaAlugueisServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaClientesServlet</servlet-name>
        <url-pattern>/ConsultaClientesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaProdutosServlet</servlet-name>
        <url-pattern>/ConsultaProdutosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaUsuariosServlet</servlet-name>
        <url-pattern>/ConsultaUsuariosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarModelosPorGrupoServlet</servlet-name>
        <url-pattern>/ConsultarModelosPorGrupoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarClienteServlet</servlet-name>
        <url-pattern>/EditarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarProdutoServlet</servlet-name>
        <url-pattern>/EditarProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarUsuarioServlet</servlet-name>
        <url-pattern>/EditarUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExibirRelatoriosServlet</servlet-name>
        <url-pattern>/ExibirRelatoriosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Principal</servlet-name>
        <url-pattern>/Principal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DevolucaoAluguelServlet</servlet-name>
        <url-pattern>/DevolucaoAluguelServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/erro.jspx</location>
    </error-page>
</web-app>
