body{
    background-color:#EDEDED;
    font-family: "arial","verdana","sans-serif";
    font-size:14px;
    font-weight:bold;
}
legend{
    font-size:18px;
}
form input{
    border-radius:5px;
}
body select{
    border-radius:5px;
}

div{
    width: 1000px;
    height: 500px;
    margin:80px;

}
fieldset{
    background-color:Gainsboro;
    width: 900px;
    height: 150px;
    border-radius:5px;
}
#divTabela{
    width: 900px;
    height: 150px;
    border-radius:5px;
    margin-top:0;
    margin-left:0;
}
#modelo{
    margin-left:10px;
    margin-right:80px;
    margin-top:20px;
}
#grupo{
    margin-right:320px;

}

.pesquisa{
    width:35px;
    height:35px;
    margin-right:30px;
    background-repeat:no-repeat;
    background-position:center center;
    border:transparent;

}
.sair{
    width:35px;
    height:35px;
    background-repeat:no-repeat;
    background-position:center center;
    border:transparent;

}

td{
    font-family: "arial","verdana","sans-serif";
    font-size:14px;
    font-weight:bold;

    border-spacing:0px;
    padding:5px;
    text-align:center;
    border:1px solid;
    background-color:Gainsboro;
}

#tdCodigo{
    width:90px;
}
#tdModelo{
    width:200px;
}
#tdGrupo{
    width:130px;
}
#tdPlaca{
    width:130px;
}
.alterar{
    width:35px;
    height:35px;
    background-repeat:no-repeat;
    background-position:center center;
    border:transparent;
}
div>span{
    font-size:18px;
    margin-left:15px;
}
button{

    font-family: "arial","verdana","sans-serif";
    font-size:12px;
    font-weight:bold;
}

