body{
    background-color:#EDEDED;
    font-family: "Times New Roman","Segoe UI","arial","verdana","sans-serif";
    font-size:22px;
    font-weight:bold;
}

#menu,
.menuPrincipal,
.menuAluguel {
    padding:0px;
    margin:0px;
}
.menuPrincipal{
    padding-left:180px;
}
.clearfix:after{
    content:'.';
    display:block;
    clear:both;
    height:0px;
    line-height:0px;
    font-size:0px;
    visibility:hidden;
    overflow:hidden;
}
.menuPrincipal,.menuAluguel,.menuCliente,.menuProdutos,.menuRelatorios,.menuUsuarios{
    list-style:none;
    background-color:Gainsboro;
}
.menuAluguel{
    background-color:#444;
}
.menuPrincipal a {
    padding: 10px 40px;
    display: block; 

    /* visual do link */  
    background-color:Gainsboro;
    color: #333;
    text-decoration: none;
    border-bottom:2px solid Gainsboro;
}
.menuPrincipal li {
    position:relative;

}
.menuPrincipal > li {
    float:left;
}

.menuPrincipal > li :hover {
    background-color:#C0C0C0;
    color: #B80000;
    border-bottom:2px solid #EA0000;
}
.menuAluguel,.menuCliente,.menuProdutos,.menuRelatorios,.menuUsuarios{
    position:absolute;
    display:none;
    min-width:100px;
}

li:hover>ul{
    display:block;
    padding:0;
}
img{
    --background-color:yellow;
    width:600px;
    height:350px;
    margin-left:100px;

}
#logoEmpresa{
    --background-color:red;
    width:800px;
    height:400px;
    margin-left:250px;
    margin-top:o;

}
#sessãoUsuario{
    --background-color:blue;
    font-size:16px;
    width:400px;
    height:100px;
    margin-left:900px;
    margin-top:50px;
}
